*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.jks
*.keystore
keystore.properties
google-services.json
app/build/
**/build/
vault-release.jks
*.log
.kotlin/
